* {
  box-sizing: border-box;
  margin: 0;
}

html {
  /* 1 rem sẽ = 10px */
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.dp_none {
  display: none;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffda77;
  z-index: 1;
}

#header .body {
  display: flex;
  align-items: center;
  padding: 8px 0 8px;
}

#header .logo {
  width: 82px;
  height: 17px;
}

#header .body .bar {
  display: none;
}

.nav {
  margin-left: auto;
}

.nav .ds_node {
  display: flex;
  justify-content: space-evenly;
  margin-left: calc(800px - 100px);
}

.nav .ds_node .active {
  color: #171100;
}

.nav .ds_node .active::after {
  content: "";
  display: block;
  margin-top: 2px;
  height: 3px;
  width: 22px;
  background-color: #171100;
}

.nav .ds_node li {
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 20px;
  color: #5f5b53;
}

.nav .ds_node li:hover {
  color: #171100;
  cursor: pointer;
  font-weight: 500;
}

.nav .close {
  display: none;
}

#header .btn_sign-up {
  min-width: 144px;
  margin-left: 49px;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background: #999;
}

#header .header-container .btn_sign-up a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

.learn {
  margin-top: 48px;
  padding: 50px 10px;
  background-color: #fbeecdb0;
  display: flex;
}

.leader_right {
  margin: 0 100px;
}

.leader_right .title {
  font-size: 5.8rem;
  font-weight: 700;
  color: #171100;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.leader_right .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  color: #5f5b53;
  line-height: 1.67;
}

.btn-gr {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

.btn-gr .btn-search {
  min-width: 180px;
  line-height: 65px;
  color: #fffaef;
  background-color: #ffb900;
}

.btn-gr .btn-search:hover {
  cursor: pointer;
  background-color: #999;
}

.btn-gr .btn-watch {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  line-height: 65px;
  color: #171100;
  background-color: #fff;
  border: none;
  border-radius: 40px;
}

.btn-gr .btn-watch:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-gr .btn-watch span {
  margin-left: 10px;
}

.recent {
  margin-top: 50px;
  font-size: 2rem;
  color: #5f5b53;
  line-height: 1.75;
}

.info {
  margin-top: 8px;
  font-size: 1.8rem;
  color: #5f5b53;
  line-height: 1.67;
}

.info strong {
  font-weight: 700;
  color: #171100;
  font-size: 4.4rem;
  margin-right: 15px;
  line-height: 1.23;
}

.info strong:nth-child(2) {
  margin-left: 28px;
}

/* popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.popular .main-content .popular-header {
  display: flex;
  justify-content: space-between;
}

.heading-lv2 {
  font-size: 3.8rem;
  color: #171100;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 1.24px;
}

.main-content .popular-header .info_popular .desc_popular {
  color: #5f5b53;
  font-size: 1.8rem;
  margin-top: 20px;
  line-height: 1.67;
  width: 458px;
}

.main-content .popular-header .icon-popular {
  display: flex;
  gap: 18px;
}

.main-content .popular-header .icon-popular .control-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffc121;
  color: #ffc121;
  background: transparent;
}

.main-content .popular-header .icon-popular .control-btn:hover {
  cursor: pointer;
  background-color: #ffc121;
  color: #fff;
}

.main-content .course_list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.main-content .course_list .course_item {
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
}

.main-content .course_list .course_item .course_img {
  width: calc(1170px / 3 - 22px);
  height: 278px;
}

.main-content .course_list .course_item .course_info {
  width: calc(1170px / 3 - 22px);
  padding: 16px 10px;
}

.course_list .course_item .course_info .course_info_header {
  display: flex;
  justify-content: space-between;
}

.course_item .course_info .course_info_header .course_name {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.25;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course_info .course_info_header .course_rating .rating_star {
  display: flex;
  justify-content: space-between;
  color: #fea31b;
}

.course_info_header .course_rating .rating_star .value {
  margin-left: 10px;
}

.course_list .course_item .course_info .desc_course {
  margin-top: 10px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course_list .course_item .course_info .price_buy {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.course_item .course_info .price_buy .price_value {
  color: #171100;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.67;
}

.course_item .course_info .price_buy .btn_buy {
  background-color: #171100;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
}

.course_item .course_info .price_buy .btn_buy:hover {
  cursor: pointer;
  border: 1px solid #171100;
  background-color: #fff;
  color: #171100;
}

/* Feedback */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #2e2100;
}

.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback .feedback-items {
  display: flex;
  width: 100%;
  flex-shrink: 0;
}

.feedback-items .feedback-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-items .name_member {
  margin-top: 18px;
  color: #f7f7f7;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
}

.feedback-items .desc_member {
  margin-top: 4px;
  font-size: 1.4rem;
  color: #bfbcb2;
  line-height: 1.86;
}

.dots {
  display: flex;
  margin-top: 18px;
  gap: 6px;
}

.dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}

.dot.active_dot {
  background-color: #ffb900;
  cursor: default;
}

.feedback-items .content-feedback {
  width: 66%;
  margin-left: auto;
}

.feedback-items .content-feedback .icon-feedback {
  color: #634700;
  font-size: 50px;
}

.feedback-items .content-feedback blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

/* END: FEEDBACK */

/* FEATURES 1 */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.body {
  display: flex;
  justify-content: space-between;
}

.features .main-content .images {
  display: flex;
  gap: 30px;
}

.lower {
  margin-top: 34px;
}

.features .main-content .images .fs_image {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .main-content .content-features {
  width: 41%;
  display: flex;
  flex-direction: column;
}

.desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}

.features .cta-btn {
  margin-top: 32px;
  width: 180px;
  height: 50px;
  background-color: #171100;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.cta-btn:hover {
  border: 1px solid #171100;
  background-color: #fff;
  color: #171100;
}
/* END: FEATURES */
/* FEATURES 2 */
.features-2 .main-content .body {
  flex-direction: row-reverse;
}
.features-2 .main-content .body .images .fs_image {
  width: 470px;
  height: 440px;
}
/* END: FEATURES 2 */

/* BLOGS */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #fbeecdb0;
}

.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc-blog {
  width: 448px;
  margin: 16px auto 0;
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75;
}

.blogs .blog-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
  overflow: hidden;
}

.blogs .blog-list .item {
  flex-shrink: 0;
  width: calc(33.33% - 20px);
  border-radius: 16px;
  background-color: #fff;
}

.blogs .blog-list .item .img-blog {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.blogs .blog-list .item .info {
  padding: 20px 20px 28px;
}

.blogs .blog-list .item .info .date {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
  padding-bottom: 12px;
  position: relative;
  display: inline-block;
  align-items: center;
}

.blogs .blog-list .item .info .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffb900;
  margin-right: 4px;
}

.blogs .blog-list .item .info .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: -27px;
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #e2dfda;
  border-radius: 0.5px;
}

.blogs .blog-list .item .info a {
  text-decoration: none;
}

.blogs .blog-list .item .info .title {
  margin-top: 12px;
  line-height: 1.75;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
}

.blogs .blog-list .item .info .btn-readmore {
  margin-top: 12px;
  font-size: 1.4rem;
}

.blogs .dots {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}
/* END: BLOGS */

/* FOOTER */
.footer {
  background-color: #2e2100;
  padding: 96px 135px 0;
}

.footer .row {
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
  display: flex;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 18px;
  color: #bfbcb2;
  max-width: 267px;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .socials {
  margin-top: 18px;
  display: flex;
  gap: 18px;
}

.footer .socials a {
  text-decoration: none;
}

.footer .socials a i {
  color: #fff;
}

.footer .title {
  padding-bottom: 14px;
  padding-right: 48px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  border-bottom: 1px solid #59554b;
  display: inline-block;
}

.footer .list {
  margin-top: 28px;
  list-style: none;
}

.footer .list a {
  display: inline-block;
  text-decoration: none;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
  margin-bottom: 12px;
}

.footer .list strong {
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .copyright {
  padding: 28px 0;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
}

/* END: FOOTER */

/* RESPONSIVE */
/* Mobile: width < 740px */
@media only screen and (max-width: 740px) {
  #header .body {
    display: flex;
    align-items: center;
    padding: 8px 0 8px;
  }

  #header .main-content .body .btn_sign-up {
    display: none;
  }

  #header .body .bar {
    position: relative;
    display: block;
    padding: 8px;
  }

  .nav {
    background-color: #f8f8ba;
    margin: 0;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }

  .nav .ds_node {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
  }

  .nav .ds_node li {
    margin: 20px;
  }

  .leader_right {
    margin: 0;
  }

  .leader_right .title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #171100;
    line-height: 1.17;
    letter-spacing: -1.16px;
  }

  .leader_right .desc {
    margin-top: 22px;
    font-size: 1.4rem;
    color: #5f5b53;
    line-height: 1.67;
  }

  .btn-gr .btn-search {
    min-width: 150px;
    line-height: 65px;
    color: #fffaef;
    background-color: #ffb900;
  }

  .btn-gr .btn-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    line-height: 65px;
    color: #171100;
    background-color: #fff;
    border: none;
    border-radius: 40px;
  }

  .info strong {
    font-weight: 700;
    color: #171100;
    font-size: 2.9rem;
    margin-right: 15px;
    line-height: 1.23;
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  #header {
    width: 100%;
  }

  #header .body {
    display: flex;
    align-items: center;
    padding: 8px 0 8px;
  }

  #header .main-content .body .btn_sign-up {
    display: none;
  }

  #header .body .bar {
    position: relative;
    display: block;
    padding: 8px;
  }

  .nav {
    background-color: #f8f8ba;
    margin: 0;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }

  .nav .ds_node {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
  }

  .nav .ds_node li {
    margin: 20px;
  }

  .leader_right {
    margin: 26px 65px;
  }

  .leader_right .title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #171100;
    line-height: 1.17;
    letter-spacing: -1.16px;
  }

  .leader_right .desc {
    margin-top: 22px;
    font-size: 1.4rem;
    color: #5f5b53;
    line-height: 1.67;
  }

  .btn-gr .btn-search {
    min-width: 150px;
    line-height: 65px;
    color: #fffaef;
    background-color: #ffb900;
  }

  .btn-gr .btn-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    line-height: 65px;
    color: #171100;
    background-color: #fff;
    border: none;
    border-radius: 40px;
  }

  .info strong {
    font-weight: 700;
    color: #171100;
    font-size: 2.9rem;
    margin-right: 15px;
    line-height: 1.23;
  }

  .main-content .course_list {
    display: block;
    margin-left: 26%;
    width: 100%;
  }

  .main-content .course_list .course_item {
    width: 50%;
  }

  .main-content .course_list .course_item .course_info,
  .main-content .course_list .course_item .course_img {
    width: 100%;
  }

  .features .main-content .body {
    display: block;
  }

  .features .main-content .content-features {
    width: 100%;
    margin-top: 50px;
  }

  .features .main-content .images {
    margin-left: 50px;
  }

  .features-2 .main-content .body .content {
    margin-top: 50px;
  }

  .blogs .blog-list {
    display: block;
  }
  .blogs .blog-list .item {
    width: 100%;
    margin-bottom: 40px;
  }

  .footer {
    padding: 96px 9px 0;
  }
}
/* Desktop: width >= 1024px */
@media only screen and (min-width: 1024px) {
  .nav {
    display: block;
  }
}

/* END: RESPONSIVE */
